<!DOCTYPE html>
<html lang="en">
<head class="navbar navbar-fixed-top navbar-inverse">
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application',media:'all',
    'turbolinks-track':'reload' %>
  <%= javascript_include_tag 'application',
    'data-turbolinks-track':'reload' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container"><%= yield %></div>
  <%= render 'layouts/footer' %>
</body>
</html>
